doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='AppController as app')
    form(action='upload', method='POST', enctype='multipart/form-data')
      input(type='file', name='upName')
      input(type='submit')
